{% extends 'layout.html' %}
{% block content %}

  {% for step in brewing_steps %}
    <section id="{{ step.id|e }}">
      <h1>{{ step.name|e }}</h1>
      <p>{{ step.description|e }}</p>

      {% for attribute in step.attributes %}
        <label>
          {{ attribute.name|e }}
          <input name="{{ attribute.id }}" 
            type="range" 
            min="{{ attribute.min }}" 
            max="{{ attribute.max }}"
            value="{{ attribute.mean }}"
            step="any" />
        </label>
      {% else %}
        {# last step without attributes is alwauys the las one #}
        <div id="radar"></div>
        <button id="guess">Guess</button>
      {% endfor %}

    </section>
  {% endfor %}

{% endblock %}