<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Cervecistas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body { font-family: ui-system, sans-serif; }
    section {
      border: 1px solid #888;
      height: calc(100vw/2);
      margin: 1rem;
      padding: 1rem;
    }
    label {
      display: block;
      border: 1px solid #888;
      margin: 1rem;
    }
  </style>
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
