<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="logo" type="image/png" href="demo.png" />

<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>
  <div id="beer-info"></div>
  <div id="selector-container"></div>
  <div id="recomend-container"></div>
  <div id="chart"></div>
  <div id="recom-charts"></div>

  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="{{ url_for('static', filename='master.js') }}"></script>
  <script src="{{ url_for('static', filename='radarOk.js') }}"></script>
</body>
</html>
